/* Global CSS Start */
.gridCard {
  margin: 0.30rem 0 !important;
  padding: 5px 7px;
  height: 100%;
}

.border {
  border: 2px solid #0693E3;
}

.coloredTxt {
  color: #0693E3 !important;
}

.coloredBg {
  background-color: #0693E3 !important;
}

.link {
  text-decoration: none;
  color: black;
}

.alignCenter {
  margin: auto;
}

.fwBold {
  font-weight: 600 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0 15px;
}

.avatar {
  border: 2px solid #0693E3;
}

.shareBtn {
  margin: 12px 5px 0;
}

.navName {
  background-color: #0693E3;
  color: white;
  padding: 5px 15px;
  border-radius: 25px;
  height: 100%;
}

.logOutIcon {
  color: #0693E3 !important;
}

.logOutIcon:hover {
  color: red !important;
}

.iconHover:hover {
  color: #0693E3;
}

.redHover:hover {
  color: red;
}

.txtCard {
  margin: 0.4rem;
  box-shadow: none !important;
  padding: 5rem 2rem;
  text-align: center;
}

.contactBtn {
  border: 1px solid #0693E3;
  margin: 0 10px;
  padding: 0.4rem 1.5rem;
  font-size: 1em;
  color: #0693E3;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}
/* Global CSS End */


/* Write Post Component CSS Start */
.userName {
  text-align: center;
  margin-top: 10px;
}

.multilineTextField {
  padding: 10px;
}

.writePostFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.postBtn {
  margin: 0 10px !important;
  background-color: #0693E3 !important;
  padding: 8px 16px;
  border: 0;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.editBtn {
  margin-top: 10px !important;
  background-color: #0693E3 !important;
  padding: 8px 16px;
  border: 0;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

/* Post Feed Component CSS End */


/* User Info Component CSS Start */
.userInfoGridCard {
  display: flex !important;
  flex-direction: column !important;
  text-align: center;
  padding: 0.1rem 0;
}

.userInfoGrid {
  margin: 1rem 0.5rem 0 !important;
  background-color: white;
  padding: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-top: 20px !important;
  font-weight: 600 !important;
  background-color: #0693E3;
  color: white;
  padding: 8px 16px;
  border: 0;
  border-radius: 25px;
  text-transform: uppercase;
  cursor: pointer;
}

.listItem {
  cursor: pointer !important;
}

.userProfile:hover {
  box-shadow: 0 2px 8px #ddd;
}

.buttonBox {
  margin: auto;
  padding-top: 5px;
}

.profileBorder {
  border-right: 4px solid #0693E3 !important;
}

.gameBanner {
  position: relative;
  margin-bottom: 15px;
}

.hoverBanner {
  opacity: 1 !important;
  display: block !important;
  width: 80% !important;
  margin: 0 auto !important;
  transition: .5s ease !important;
  backface-visibility: hidden !important;
}

.hoverMiddle {
  transition: .5s ease !important;
  opacity: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  text-align: center !important;
}

.hoverBtn {
  width: 100% !important;
}

.gameBanner:hover .hoverBanner {
  opacity: 0.3 !important;
}

.gameBanner:hover .hoverMiddle {
  opacity: 1 !important;
}

/* User Info Component CSS End */

/* Footer Component CSS Start */
.footerSection {
  padding: 80px 0 40px;
  color: #888888;
}

.smIconHolder {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.smIcon {
  cursor: pointer;
}

.smIcon:hover {
  color: #0693E3;
}

.txtHolder {
  text-align: right;
}

.developer {
  background-color: #0693E3;
  padding: 4px 8px;
  border-radius: 8px;
}

/* Footer Component CSS End */


/* Responsive for Footer Component CSS Start */
/* Mobile Design Start */
@media only screen and (max-width: 450px) {
  .listWrapper {
    display: grid !important;
    grid-template-columns: auto !important;
  }

  .hidingName {
    display: none;
  }

  .hoverBanner {
    width: 60% !important;
  }
}

@media only screen and (max-width: 600px) {
  .footerSection {
    padding: 2rem 1.5rem;
  }

  .smIconHolder {
    justify-content: center !important;
  }

  .smIcon {
    margin: 0 6px;
  }

  .txtHolder {
    text-align: center;
    margin-top: 20px !important;
  }

  .developer {
    display: block;
    width: 140px;
    margin: 8px auto;
  }

  .listWrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }

  .gameWrapper {
    display: grid !important;
    grid-template-columns: auto auto;
  }

  .hoverBanner {
    width: 80% !important;
  }
}

/* Mobile Design End */

/* Tab Design Start */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .listWrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 3px;
  }

  .gameWrapper {
    display: grid !important;
    grid-template-columns: auto auto;
  }

  .hoverBanner {
    width: 70% !important;
  }
}

/* Tab Design End */
/* Responsive for Footer Component CSS End */