/* Responsive for Footer Component CSS Start */
/* Mobile Design Start */
@media only screen and (max-width: 450px) {
    .listWrapper {
        display: grid !important;
        grid-template-columns: auto !important;
    }

    .hidingName {
        display: none;
    }

    .hoverBanner {
        width: 60% !important;
    }
}

@media only screen and (max-width: 600px) {
    .footerSection {
        padding: 2rem 1.5rem;
    }

    .smIconHolder {
        justify-content: center !important;
    }

    .smIcon {
        margin: 0 6px;
    }

    .txtHolder {
        text-align: center;
        margin-top: 20px !important;
    }

    .developer {
        display: block;
        width: 140px;
        margin: 8px auto;
    }

    .listWrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

    .gameWrapper {
        display: grid !important;
        grid-template-columns: auto auto;
    }

    .hoverBanner {
        width: 80% !important;
    }
}

/* Mobile Design End */

/* Small Tab Design Start */
@media only screen and (min-width: 601px) and (max-width: 772px) {

    .listWrapper {
        display: grid;
        grid-template-columns: auto auto !important;
        grid-gap: 10px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 745px) {

    .developer {
        display: block;
        margin: 10px 0 10px auto !important;
        width: 27.5%;
    }
}

/* Small Tab Design End */


/* Tab Design Start */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .listWrapper {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 3px;
    }

    .gameWrapper {
        display: grid !important;
        grid-template-columns: auto auto;
    }

    .hoverBanner {
        width: 70% !important;
    }
}

/* Tab Design End */
/* Responsive for Footer Component CSS End */